<!DOCTYPE html>
<html ng-app="turtleFacts">
  <head>
    <link rel="stylesheet" type="text/css" href="bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
      
      <style>
          .well-image{
              width: 100%;
              height:162px;
          }
          
          .modal-info{
              margin-top:16px;
          }
      </style>
        
  </head>
  <body >
        
      <div class="container">
      <div class="page-header">
          <h1>Turtle Facts Quiz</h1>
          <h3>
            Learn about all the turtles below before you decide to take on the <strong>TURTLE QUIZ</strong>
          </h3>
          </div>

          <div ng-controller="listCtrl as list" ng-hide="list.quizMetrics.quizActive">
              <form class="form-inline well well-sm clearfix">
              <span class="glyphicon glyphicon-search"></span>
                  <input type="text" placeholder="Search" class="form-control" ng-model="list.search">
                  <button class="btn btn-md btn-warning pull-right" ng-click="list.quizMetrics.changeState(true)"><strong>Start Quiz</strong></button>
              </form>
                <div class="row">
                <div class="col-sm-6" ng-repeat="turtle in list.data | filter:list.search">
                    <div class="well well-sm">
                    <div class="row">
                        <div class="col-md-6">
                            <img ng-src="{{turtle.image_url}}" class="img-rounded img-responsive well-image">
                        </div>
                        <div class="col-md-6">
                            <h4>{{turtle.type}}</h4>
                            <p><strong>Locations: {{turtle.locations}}</strong></p>
                            <p><strong>Size: </strong>{{turtle.size}}</p>
                            <p><strong>Average Lifespan: </strong>{{turtle.lifespan}}</p>
                            <p><strong>Diet: </strong>{{turtle.diet}}</p>
                            <button class="btn btn-md btn-primary pull-right" 
                                    data-toggle="modal" 
                                    data-target="#turtle-info"
                                    ng-click="list.changeActiveTurtle(turtle)"
                                    >Learn More</button>
                        </div>
                        </div>
                    </div>
                    </div>
              </div>
              
              
              <div class="modal" id="turtle-info">
                <div class="modal-dialog">
                  <div class="modal-content">
                        <div class="modal-header">
                            <h2>{{list.activeTurtle.type}}</h2>
                        </div>
                      <div class="modal-body">
                      <div class="row">
                          <div class="col-xs-8 col-xs-offset-2">
                            <img ng-src="{{list.activeTurtle.image_url}}" class="img-rounded img-responsive">    
                          </div>
                          </div>
                          <div class="row modal-info" >
                            <div class="col-md-8 col-md-offset-2">
                              <p><strong>Locations: </strong>{{list.activeTurtle.locations}}</p>
                              <p><strong>Size: </strong>{{list.activeTurtle.size}}</p>
                              <p><strong>Average Lifespan: </strong>{{list.activeTurtle.lifespan}}</p>
                              <p><strong>Diet: </strong>{{list.activeTurtle.diet}}</p>
                              <p>{{list.activeTurtle.description}}</p>
                                <button class="btn btn-danger pull-right" data-dismiss="modal">X</button>
                              </div>
                          </div>
                          
                      </div>
                  </div>    
                </div>
              </div>
          </div> <!-- list controller -->

          <div ng-controller="quizCtrl as quiz" ng-show="quiz.quizMetrics.quizActive">
          <h2>Quiz</h2>
          </div>
      </div>
      
      
      

      
      
      
          
      <!-- vendor libs -->
      <script
                src="https://code.jquery.com/jquery-3.2.1.min.js"
                integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                crossorigin="anonymous"></script>
        <script src="js/angular.min.js"></script>
        <script src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
      
      <!-- my scripts-->
        <script src="js/app.js"></script>
        <script src="js/controllers/list.js"></script>
        <script src="js/controllers/quiz.js"></script>
        <script src="js/factories/quizmetrics.js"></script>
        <script src="js/factories/DataService.js"></script>
  </body>

</html>
